$dark-gray: #414040;
$light-gray: #f0f0f0;
$orange: #ffd333;

.button {
  border: none;
  box-sizing: border-box;
  color: white;
  background-color: #414040;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  line-height: normal;
  outline: none;
  padding: 8px 16px;
}

.button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  background-color: $orange;
  color: $dark-gray;
}

.button:active {
  box-shadow: none;
}

.button.disabled{
  background-color: $orange;
  color: $dark-gray;
  cursor: auto;
}

.button.disabled:hover {
  box-shadow: none;
  transform: none;
}
