$dark-gray: #3d464d;
$light-gray: #f0f0f0;
$orange: #ffd333;

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(0,0,0,0.4);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 600px;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 10px;
  padding-bottom: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 10px 10px 0 0;
  color: white;
  background: $dark-gray;
  h3 {
    font-size: 18px;
    margin: 0;
    display: inline-block;
  }
  .close-icon {
    font-size: 25px;
    cursor: pointer;
    margin-left: 15px;
    &:hover {
      color: $orange;
    }
  }
}

.modal-text {
  padding: 40px 30px;
  text-align: center;
  font-size: 18px;
}

.modal-button-wrapper {
  display: flex;
  justify-content: center;
  gap: 30px;
}
