.favorites-wrapper {
  justify-content: left;
  gap: 20px;
}

.empty-list {
  text-align: center;
  padding-top: 70px;
  font-size: 30px;
  margin: auto;
}

.empty-list-description {
  text-align: center;
  padding-top: 10px;
  font-size: 18px;
  margin: auto;
}
